* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Bebas Neue";
  font-size: 10rem;
  color: #932a37;
  letter-spacing: -5px;
  line-height: .9;
}

h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

h2 {
  color: #353d5e;
}

h3 {
  font-size: 20px;
  line-height: 3;
}

h4 {
  font-weight: 100;
}

.remove-assignment-content {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* HERO SECTION */
.hero-container {
  color: #fff;
  height: 100vh;
  position: relative;
  display: flex;
}

#hero-banner {
  img {
    width: 100%;
  }
}

#hero-text {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
}

/* CONTENT */
.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: auto;
  background-color: #fff;
  height: 600px;
  gap: 50px;
}

#content {
  height: 500px;
  img {
    height: 100%;
  }
}

#content-text {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#content-cast {
  display: flex;
  flex-direction: column;
}

/*ACCORDION */

/* CSS */
.accordion-container {
  width: 100%;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-button {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-button.active {
  background-color: #ccc;
}

.accordion-button.active + .accordion-panel {
  max-height: 500px; /* Set to a value larger than the panel's height */
}

.footer-container {
  background-color: #f2efea;
  width: 100%;
  height: 300px;
  position: relative;
}
